<% provide(:title, 'About Us')%>
<!DOCTYPE html>
<html>
	<body>
		<h1>About Us</h1>
			<p> Here is some text about us. Ruby on rails tutorial is used to teach building sites.  
				This is the simplest app
			</p>
	</body>
</html>